html {
    font-size: 62.5%; /** Reset para REMS, donde 62.5% = 10px de 16px **/
}
body {
    font-family: 'Lato', sans-serif;
}


/** Globales **/
.contenedor{
    max-width: 120rem; /** = 1200px **/
    margin:0 auto 0 auto; /* margen top derecha abajo izquierda */
}

/* HEADER */
.site-header.inicio{
background-image: url(../img/header.jpg);
background-position: center center;
background-size: cover;
height: 100vh; /* vh detecta la altura de la pantalla */
min-height: 60rem;
}
.barra{
    display: flex;
    justify-content: space-between; /* separa la imagen del texto del menu */
    align-items: center; /* alinea la imagen y el texto del menu */
    padding-top: 3rem;
}

/** Navegacion **/
.navegacion a{
    color: white;
    text-decoration: none;
    font-size: 1.8rem; /** = 18px **/
    margin-right: 2rem; /* les da un marge o espacio a la derecha, para separar los nombres del menu*/
}
.navegacion a:hover{
    color: #71b100;
}
.navegacion a:last-of-type{
    margin: 0; /* al ultimo elemento del menu Contacto le saca el margen anterior y le da margen 0 */
}
